<!DOCTYPE hibernate-configuration SYSTEM "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:mysql://mysqlserver.c5afid3bvwxs.us-east-1.rds.amazonaws.com:3306/connectong</property>
		<property name="hibernate.connection.username">admin</property>
		<property name="hibernate.connection.password">1624178847</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="connection.poolsize">10</property>
		<property name="hbm2ddl.auto">update</property> <!-- create / drop / update -->
		<!-- mapeando a classe para o banco de dados -->

 			<mapping class="model.Person"/>
			<mapping class="model.Address"/> <!-- testada e aprovada no DaoGeneric -->
			<mapping class="model.Phone"/>
			<mapping class="model.User"/>
			<mapping class="model.Donate"/> 
			<mapping class="model.Animal"/>
			<mapping class="model.Adoption"/> 
		
	</session-factory>
</hibernate-configuration>
